body {
    text-align: center;
    background-image: url('projeto123ima.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.heading{
    font-size: 19px;
    margin: 25px;
    border: 2px solid #ffd500;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    background-color: #ffd500;
    box-shadow: #0088ff;
}
.note{
    font-size: 15px;
    color: rgb(12, 0, 0)
}

/* Estilo para o botão */
.filter-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #343a40; /* Cor de fundo escura do Bootstrap */
    color: #ffffff; /* Cor do texto branco para contrastar com o fundo escuro */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
    margin-top: 20px; /* Espaçamento externo superior */
    border-top: 1px solid #ffffff; /* Borda superior branca */
    margin-bottom: 0; /* Remover a margem inferior padrão do parágrafo */
    font-size: 14px; 
}

canvas{
    border: 20px solid white;
    border-radius: 20px;
}
